.internship-program-section{
    background: var(--blue-color);
    background-image: url("/images/intern-background-left.png");
    background-repeat: no-repeat;
    background-size: 45% 45%;
    background-position-x: 30%;
    background-position-y: 65%;
}